<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
     xmlns:th="http://www.thymeleaf.org" >

<head>
   <title>Sign up</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta th:name="description" content="Colo Shop Template">
<meta th:name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/responsive.css}">
</head>

<body>
<div class="main_nav_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-right">
						<div class="logo_container">
							<a th:href="@{/}">Let's Buy <span>እንግዛ</span></a>
						</div>
						<nav class="navbar">
							<ul class="navbar_menu">
							
								<li><a th:href="@{/contact}">contact</a></li>
								
								<span th:utext="${username}"></span>
								<li><a th:href="@{/login}">Log In</a></li>
							</ul>
							<ul class="navbar_user">
								
								<li><a th:href="@{/contact}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
								
							</ul>
							<div class="hamburger_container">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>

	</header>

	<div class="fs_menu_overlay"></div>
	<div class="hamburger_menu">
		<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="hamburger_menu_content text-right">
			<ul class="menu_top_nav">
				<li class="menu_item has-children">
					<a th:href="@{/contact}">
						usd
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{/contact}">cad</a></li>
						<li><a th:href="@{/contact}">aud</a></li>
						<li><a th:href="@{/contact}">eur</a></li>
						<li><a th:href="@{/contact}">gbp</a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a th:href="@{/contact}">
						English
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{/contact}">French</a></li>
						<li><a th:href="@{/contact}">Italian</a></li>
						<li><a th:href="@{/contact}">German</a></li>
						<li><a th:href="@{/contact}">Spanish</a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a th:href="@{/contact}">
						My Account
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{/contact}"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
						<li><a th:href="@{/contact}"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
					</ul>
				</li>
				
				<li class="menu_item"><a th:href="@{/contact}">contact</a></li>
				<li class="menu_item"><a th:href="@{/contact}">shop</a></li>
				<li class="menu_item"><a th:href="@{/contact}">promotion</a></li>
			
				<li class="menu_item"><a th:href="@{/contact}">contact</a></li>
			</ul>
		</div>
	</div>

    <div class="row register-form">
    <a class="navbar-brand" href="#">
			<h1><span th:utext="${successMessage}"></span></h1>
		</a>
        <div class="col-md-8 col-md-offset-2">
            <form class="form-horizontal custom-form" th:action="@{/createAccount}" th:method="POST" th:object="${user}">
                <h1>Sign Up</h1>
                
                
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label class="control-label" for="FirstName">First Name </label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input th:field="*{firstName}" name="FirstName" id="FirstName"  class="form-control" type="text">
                        <span class="User" th:if="${#fields.hasErrors('firstName')}"		                       						
 								th:errors="*{firstName}">								
 						</span>                        
                    </div>                    
                </div>
                
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label class="control-label" for="Lastame">Last Name </label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input  th:field="*{lastName}" name="LastName" id="LastName" class="form-control" type="text">
                        <span class="User" th:if="${#fields.hasErrors('lastName')}"		
                         						
 								th:errors="*{lastName}">								
 						</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label class="control-label" for="UserName-input-field">User Name </label>
                        
                    </div>
                    <div class="col-sm-6 input-column">
                        <input  th:field="*{username}" name="UserName" id="UserName" class="form-control" type="text">
                        <span class="User" th:if="${#fields.hasErrors('username')}"		
                         						
 								th:errors="*{username}">								
 						</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label class="control-label" for="email-input-field">Email </label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input  th:field="*{email}" name="Email" id="Email" class="form-control" type="email">
                        <span class="User" th:if="${#fields.hasErrors('email')}"		
                         						
 								th:errors="*{email}">								
 						</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label class="control-label" for="pawssword-input-field">Password </label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input  th:field="*{password}" name="Password" id="Password" class="form-control" type="password">
                        <span class="User" th:if="${#fields.hasErrors('password')}"		
                         						
 								th:errors="*{password}">								
 						</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label class="control-label" for="repeat-pawssword-input-field">Phone Number</label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input  th:field="*{phoneNumber}" name="PhoneNumber" id="PhoneNumber" class="form-control" type="number">
                        <span class="User" th:if="${#fields.hasErrors('phoneNumber')}"		
                         						
 								th:errors="*{phoneNumber}">								
 						</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label class="control-label" for="Optional -input-field">Optional Phone </label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input  th:field="*{optionalPhoneNumber}" name="OptionalPhone" id="OptionalPhone" class="form-control" type="number">
                        <span class="User" th:if="${#fields.hasErrors('optionalPhoneNumber')}"		
                         						
 								th:errors="*{optionalPhoneNumber}">								
 						</span>
                    </div>
                </div>
                 <button class="btn btn-default submit-button" type="submit">Sign Up</button>
             </form>
             
        </div>
    </div>
    	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
						<ul class="footer_nav">
							
							<li><a th:href="@{/contact}">Contact us</a></li>
						</ul>
					</div>
				</div>
				
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="footer_nav_container">
						<div class="cr">Let's buy©2019  All Rights Reserverd <i class="fa fa-heart-o" aria-hidden="true"></i> 
						 <a th:href="@{/contact}"></a></div>
					</div>
				</div>
			</div>
		</div>
	</footer>
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>