<!DOCTYPE html>
<html 
  xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Colo Shop</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta th:name="description" content="Colo Shop Template">
<meta th:name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/responsive.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap-journal.css}">
</head>
<body>
<header>
		<div class="main_nav_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-right">
						<div class="logo_container">
							<a th:href="@{/home}">Let's Buy <span>እንግዛ</span></a>
						</div>
						<nav class="navbar">
							<ul class="navbar_menu">
							<li><a th:href="@{/account}">Create Account</a></li>
								<li><a th:href="@{/contact}">contact</a></li>
								<li><a th:href="@{/categories}">shop</a></li>
								<li><a th:href="@{/login}">Log In</a></li>
							</ul>
							<ul class="navbar_user">
								<li><a th:href="@{/contact}"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								<li><a th:href="@{/contact}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
								<li class="checkout">
					
										<i class="fa fa-shopping-cart" aria-hidden="true"></i>
										<span id="checkout_items" class="checkout_items">2</span>
									
								</li>
							</ul>
							<div class="hamburger_container">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>

	</header>
	
<div class="hamburger_menu">
		<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="hamburger_menu_content text-right">
			<ul class="menu_top_nav">
				<li class="menu_item has-children">
					<a th:href="@{/contact}">
						usd
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{/contact}">cad</a></li>
						<li><a th:href="@{/contact}">aud</a></li>
						<li><a th:href="@{/contact}">eur</a></li>
						<li><a th:href="@{/contact}">gbp</a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a th:href="@{/contact}">
						English
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{/contact}">French</a></li>
						<li><a th:href="@{/contact}">Italian</a></li>
						<li><a th:href="@{/contact}">German</a></li>
						<li><a th:href="@{/contact}">Spanish</a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a th:href="@{/contact}">
						My Account
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{/contact}"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
						<li><a th:href="@{/contact}"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
					</ul>
				</li>
				<li class="menu_item"><a th:href="@{/contact}">contact</a></li>
				<li class="menu_item"><a th:href="@{/contact}">shop</a></li>
				<li class="menu_item"><a th:href="@{/contact}">promotion</a></li>
				<li class="menu_item"><a th:href="@{/contact}">pages</a></li>
				<li class="menu_item"><a th:href="@{/contact}">blog</a></li>
				<li class="menu_item"><a th:href="@{/contact}">contact</a></li>
			</ul>
		</div>
	</div>
<div id="myTabContent" class="tab-content" th:style="'width:500px;margin-left:550px'">
  <div class="tab-pane fade show active" id="add">
  <form  method="POST" th:action="@{/addColorSize}" th:object="${product}">
     <div class="form-group">
      <label for="selectGender">Color</label>
      <select class="form-control" id="selectGender" th:field="*{choosenColors}">
        <option th:value=1 th:text="White"></option>
        <option th:value=2 th:text="Black"></option>
      </select>
    </div>
      <div class="form-group">
      <label for="selectGender">Size</label>
      <select class="form-control" id="selectGender" th:field="*{choosenSizes}">
        <option th:value=1 th:text="Medium"></option>
        <option th:value=2 th:text="Small"></option>
        
      </select>
    </div>
    <div class="form-group">
  <label class="control-label">Amount in stock</label>
  <div class="form-group">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"></span>
      </div>
      <input type="number" id="inputAmountStock" th:field="*{amount_in_stock}"  class="form-control" aria-label="Amount (to the nearest dollar)">
     <span class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('amount_in_stock')}" th:errors="*{amount_in_stock}">
  </span>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="control-label">Selling price</label>
  <div class="form-group">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="text" id="inputSellPrice" th:field="*{selling_price}"  class="form-control" aria-label="Amount (to the nearest dollar)">
    <span class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('selling_price')}" th:errors="*{selling_price}">
  </span>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="control-label">Amount(initial amount)</label>
  <div class="form-group">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="text" id="inputSellPrice" th:field="*{amount}"  class="form-control" aria-label="Amount (to the nearest dollar)">
    <span class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">
  </span>
    </div>
  </div>
</div>
<div class="form-group">
    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputPicture" th:field="*{image}">
        <span class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('image')}" th:errors="*{image}">
  </span>
        <label class="custom-file-label" for="inputPicture">Choose Picture</label>
      </div>
      
    </div>
  </div>
   

  
    <button type="submit" class="btn btn-success">Save changes</button>
   
 
</form>
	
  </div> 
	</div>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/styles/bootstrap4/popper.js}"></script>
<script th:src="@{/js/styles/bootstrap4/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/Isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
<script th:src="@{/js/plugins/easing/easing.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>
	