<!DOCTYPE html>
<html 
  xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org">
<head>
<title>Colo Shop</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta th:name="description" content="Colo Shop Template">
<meta th:name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/responsive.css}">
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap-journal.css}">
</head>
<body>
<!-- Header -->

	<header class="header trans_300">

		<!-- Top Navigation -->
<!--
		<div class="top_nav">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="top_nav_left">free shipping on all u.s orders over $50</div>
					</div>
					<div class="col-md-6 text-right">
						<div class="top_nav_right">
							<ul class="top_nav_menu">-->

								<!-- Currency / Language / My Account -->
<!--
								<li class="currency">
									<a th:href="@{contact">
										usd
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="currency_selection">
										<li><a th:th:href="@{contact">cad</a></li>
										<li><a th:th:href="@{contact">aud</a></li>
										<li><a th:th:href="@{contact">eur</a></li>
										<li><a th:th:href="@{contact">gbp</a></li>
									</ul>
								</li>
								<li class="language">
									<a th:th:href="@{contact">
										English
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="language_selection">
										<li><a th:href="@{contact">French</a></li>
										<li><a th:href="@{contact">Italian</a></li>
										<li><a th:href="@{contact">German</a></li>
										<li><a th:href="@{contact">Spanish</a></li>
									</ul>
								</li>
								<li class="account">
									<a th:th:href="@{contact">
										My Account
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="account_selection">
										<li><a th:href="@{contact"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
										<li><a th:href="@{contact"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
-->
		<!-- Main Navigation -->

		<div class="main_nav_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-right">
						<div class="logo_container">
							<a th:href="@{/home}">Let's Buy <span>እንግዛ</span></a>
						</div>
						<nav class="navbar">
							<ul class="navbar_menu">
							<li><a th:href="@{/account}">Create Account</a></li>
								<li><a th:href="@{/contact}">contact</a></li>
								<li><a th:href="@{/categories}">shop</a></li>
								<li><a th:href="@{/login}">Log In</a></li>
							</ul>
							<ul class="navbar_user">
								<li><a th:href="@{/contact}"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								<li><a th:href="@{/contact}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
								<li class="checkout">
					
										<i class="fa fa-shopping-cart" aria-hidden="true"></i>
										<span id="checkout_items" class="checkout_items">2</span>
									
								</li>
							</ul>
							<div class="hamburger_container">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>

	</header>

	<div class="fs_menu_overlay"></div>
	<div class="hamburger_menu">
		<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="hamburger_menu_content text-right">
			<ul class="menu_top_nav">
				<li class="menu_item has-children">
					<a th:href="@{/contact}">
						usd
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{/contact}">cad</a></li>
						<li><a th:href="@{/contact}">aud</a></li>
						<li><a th:href="@{/contact}">eur</a></li>
						<li><a th:href="@{/contact}">gbp</a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a th:href="@{/contact}">
						English
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{/contact}">French</a></li>
						<li><a th:href="@{/contact}">Italian</a></li>
						<li><a th:href="@{/contact}">German</a></li>
						<li><a th:href="@{/contact}">Spanish</a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a th:href="@{/contact}">
						My Account
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{/contact}"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
						<li><a th:href="@{/contact}"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
					</ul>
				</li>
				<li class="menu_item"><a th:href="@{/contact}">contact</a></li>
				<li class="menu_item"><a th:href="@{/contact}">shop</a></li>
				<li class="menu_item"><a th:href="@{/contact}">promotion</a></li>
				<li class="menu_item"><a th:href="@{/contact}">pages</a></li>
				<li class="menu_item"><a th:href="@{/contact}">blog</a></li>
				<li class="menu_item"><a th:href="@{/contact}">contact</a></li>
			</ul>
		</div>
	</div>

<div class="list-group" th:style="'float:left;width:400px;margin-top:100px;'">
  <a href="#" class="list-group-item list-group-item-action active">
   Dashboard
  </a>
  <a href="#" class="list-group-item list-group-item-action">Products
  </a>
  <a href="#" class="list-group-item list-group-item-action">Orders
  </a>
    <a href="#" class="list-group-item list-group-item-action">Users
  </a>
   <a href="#" class="list-group-item list-group-item-action">Store
  </a>
</div>
<div th:style="'float:left;width:500px;margin-top:100px;'">
<h2 class="text-primary">Products</h2>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " data-toggle="tab" th:href="@{/all}">All Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#add">Add Product</a>
  </li>
      <li class="nav-item">
    <a class="nav-link" href="#">Colors</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Sizes</a>
  </li>
   </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Material Types</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" id="add">
  <form  method="POST" th:action="@{/add}" th:object="${product}" enctype="multipart/form-data">
  <fieldset>
  <div class="form-group has-success">
  <label class="form-control-label" for="inputSuccess1">Name</label>
  <input type="text"  class="form-control" th:field="*{name}" id="name"/>
	<span class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
  </span>
</div>

<div class="form-group">
  <label class="control-label">Purchasing price</label>
  <div class="form-group">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="number" id="inputPurPrice" th:field="*{purchasing_price}"  class="form-control" aria-label="Amount (to the nearest dollar)">
     <span class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('purchasing_price')}" th:errors="*{purchasing_price}">
  </span>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="control-label">Amount in stock</label>
  <div class="form-group">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"></span>
      </div>
      <input type="number" id="inputAmountStock" th:field="*{amount_in_stock}"  class="form-control" aria-label="Amount (to the nearest dollar)">
     <span class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('amount_in_stock')}" th:errors="*{amount_in_stock}">
  </span>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="control-label">Selling price</label>
  <div class="form-group">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="text" id="inputSellPrice" th:field="*{selling_price}"  class="form-control" aria-label="Amount (to the nearest dollar)">
    <span class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('selling_price')}" th:errors="*{selling_price}">
  </span>
    </div>
  </div>
</div>
  
    <div class="form-group">
      <label for="selectMaterial">Material type</label>
      <select class="form-control" id="selectMaterial"  th:field="*{materialType}">
        <option th:value="Cotton" th:text="Cotton"></option>
        <option th:value="Polyster" th:text="Polyster"></option>
     
      </select>
    </div>
     
    <div class="form-group">
      <label for="textareaDesc">Description</label>
      <textarea class="form-control" id="textareaDesc" rows="3" th:field="*{description}"></textarea>
    <span class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
  </span>
    </div>
    <div class="form-group">
      <label for="selectCategory">Category</label>
      <select class="form-control" id="selectCategory" th:field="*{category_id}" >
        <option th:value=1 th:text="Clothes"></option>
        <option th:value=2 th:text="Accessories"></option>
        <option th:value=3 th:text="Shoes"></option>
        
      </select>
    </div>
    <div class="form-group">
      <label for="freeShipping">Free shipping</label>
      <select class="form-control" id="freeShipping" th:field="*{free_shipping}" >
        <option th:value="Yes" th:text="Yes"></option>
        <option th:value="No" th:text="No"></option>
           
      </select>
    </div>
    
     <div class="form-group">
      <label for="exampleInputFile">Date</label>
      <input type="date" class="form-control" id="inputDate" th:field="*{date}" aria-describedby="fileHelp">
    <span class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">
  </span>
    </div>
   
    
    <fieldset class="form-group">
        <div class="form-group">
      <label for="selectGender">Gender</label>
      <select class="form-control" id="selectGender" th:field="*{gender}">
        <option th:value="Female" th:text="Female"></option>
        <option th:value="Male" th:text="Male"></option>
        
      </select>
    </div>
    </fieldset>
    <fieldset class="form-group">
   <div class="form-group">
    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputPicture" th:field="*{picture}">
        <span class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('picture')}" th:errors="*{picture}">
  </span>
        <label class="custom-file-label" for="inputPicture">Choose Picture</label>
      </div>
      
    </div>
  </div>
  
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
	
  </div> 
</div>

</div>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/styles/bootstrap4/popper.js}"></script>
<script th:src="@{/js/styles/bootstrap4/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/Isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
<script th:src="@{/js/plugins/easing/easing.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>
