<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
     xmlns:th="http://www.thymeleaf.org">
<head>
<title>Women Category - Inigza</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Colo Shop Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/categories_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/categories_responsive.css}">
</head>

<body>

<div class="super_container">

	<!-- Header -->

	<header class="header trans_300">

		<!-- Top Navigation -->

		<!--
		<div class="top_nav">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="top_nav_left">free shipping on all u.s orders over $50</div>
					</div>
					<div class="col-md-6 text-right">
						<div class="top_nav_right">
							<ul class="top_nav_menu">-->

								<!-- Currency / Language / My Account -->
<!--
								<li class="currency">
									<a href="#">
										usd
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="currency_selection">
										<li><a href="#">cad</a></li>
										<li><a href="#">aud</a></li>
										<li><a href="#">eur</a></li>
										<li><a href="#">gbp</a></li>
									</ul>
								</li>
								<li class="language">
									<a href="#">
										English
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="language_selection">
										<li><a href="#">French</a></li>
										<li><a href="#">Italian</a></li>
										<li><a href="#">German</a></li>
										<li><a href="#">Spanish</a></li>
									</ul>
								</li>
								<li class="account">
									<a href="#">
										My Account
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="account_selection">
										<li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
										<li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
-->

		<!-- Main Navigation -->

		<div class="main_nav_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-right">
						<div class="logo_container">
							<a th:href="@{#}">Let's Buy <span>እንግዛ</span></a>
						</div>
						<nav class="navbar">
							<ul class="navbar_menu">
								<li><a th:href="@{/user/home}">home</a></li>
								
								<li><a th:href="@{#}">My Account</a></li>
			                    <!--<li><a th:href="@{#">blog</a></li>-->
								<li><a th:href="@{#}">contact</a></li>
							</ul>
							<ul class="navbar_user">
								
								<li><a th:href="@{#}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
								
							</ul>
							<div class="hamburger_container">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>


	</header>

	<div class="fs_menu_overlay"></div>

	<!-- Hamburger Menu -->

	<div class="hamburger_menu">
		<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="hamburger_menu_content text-right">
			<ul class="menu_top_nav">
				<li class="menu_item has-children">
					<a th:href="@{#}">
						usd
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{#}">cad</a></li>
						<li><a th:href="@{#}">aud</a></li>
						<li><a th:href="@{#}">eur</a></li>
						<li><a th:href="@{#}">gbp</a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a th:href="@{#}">
						English
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{#}">French</a></li>
						<li><a th:href="@{#}">Italian</a></li>
						<li><a th:href="@{#}">German</a></li>
						<li><a th:href="@{#}">Spanish</a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a th:href="@{#}">
						My Account
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{#}"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
						<li><a th:href="@{#}"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
					</ul>
				</li>
				<li class="menu_item"><a th:href="@{#}">home</a></li>
				<li class="menu_item"><a th:href="@{#}">shop</a></li>
				<li class="menu_item"><a th:href="@{#}">promotion</a></li>
				<li class="menu_item"><a th:href="@{#}">pages</a></li>
				<li class="menu_item"><a th:href="@{#}">blog</a></li>
				<li class="menu_item"><a th:href="@{#}">contact</a></li>
			</ul>
		</div>
	</div>

	<div class="container product_section_container">
		<div class="row">
			<div class="col product_section clearfix">

				<!-- Breadcrumbs -->

				<div class="breadcrumbs d-flex flex-row align-items-center">
					<ul>
						<li><a th:href="@{/}">Home</a></li>
						<li class="active"><a th:href="@{#}"><i class="fa fa-angle-right" aria-hidden="true"></i>Women's</a></li>
					</ul>
				</div>

				<!-- Sidebar -->

				<div class="sidebar">
					<div class="sidebar_section">
						<div class="sidebar_title">
							<h5>Product Category</h5>
						</div>
						<ul class="sidebar_categories">
							<li><a th:href="@{/categoriesmen}">Men</a></li>
							<li><a th:href="@{/categorieswomen}"><span></span>Women</a></li>
							<li><a th:href="@{/categoriesaccessory}">Accessories</a></li>
							<li><a th:href="@{/categoriestraditional}">Traditional Items</a></li>
							
						</ul>
					</div>

					

					<!-- Sizes -->
					<div class="sidebar_section">
						<div class="sidebar_title">
							<h5></h5>
						</div>
						<ul class="checkboxes">
						
						</ul>
					</div>

					<!-- Color -->
					<div class="sidebar_section">
						<div class="sidebar_title">
							<h5></h5>
						</div>
						<ul class="checkboxes">
							
						</ul>
						<div class="show_more">
							<span><span></span></span>
						</div>
					</div>

				</div>

				<!-- Main Content -->

				<div class="main_content">

					<!-- Products -->

					<div class="products_iso">
						<div class="row">
							<div class="col">

								<!-- Product Sorting -->

								<div class="product_sorting_container product_sorting_container_top">
									<ul class="product_sorting">
										<li>
											<span class="type_sorting_text">Default Sorting</span>
											<i class="fa fa-angle-down"></i>
											<ul class="sorting_type">
												<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Default Sorting</span></li>
												<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
												<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Product Name</span></li>
											</ul>
										</li>
										
									</ul>
									

								</div>

								<!-- Product Grid -->

								<div class="product-grid">

									<!-- Product 1 -->

								<div class="product-item men" th:each="pdt : ${pdts}">
							<div class="product discount product_filter">
								<div class="product_image">
								<!-- 	<img th:th:src="@{/images/etpro1.jpg}" alt=""> -->
								</div>
								
								<div class="product_info">
									<h6 class="product_name" th:text="${pdt.name}"><a th:href="@{/single}">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
									<div class="product_price" th:text="${pdt.purchasing_price}">$520.00<span>$590.00</span></div>
								</div>
							</div>
							
							
							<div class="red_button add_to_cart_button"><a th:href="${'/single/' + pdt.name}">View Detail</a></div>
						
						</div>
									

								<!-- Product Sorting -->

								<div class="product_sorting_container product_sorting_container_bottom clearfix">
									
									

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Benefit -->

	<div class="benefit">
		<div class="container">
			<div class="row benefit_row">
				
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>cach on delivery</h6>
							<p>The Internet Tend To Repeat</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>45 days return</h6>
							<p>Making it Look Like Readable</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>opening all week</h6>
							<p>8AM - 09PM</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Newsletter -->

	

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
						<ul class="footer_nav">
						
							<li><a th:href="@{contact.html}">Contact us</a></li>
						</ul>
					</div>
				</div>
			
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="footer_nav_container">
						<div class="cr"><span>እንግዛ</span>©2019 All Rights Reserved</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

</div>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/styles/bootstrap4/popper.js}"></script>
<script th:src="@{/styles/bootstrap4/bootstrap.min.js}"></script>
<script th:src="@{/plugins/Isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
<script th:src="@{/plugins/easing/easing.js}"></script>
<script th:src="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
<script th:src="@{/js/categories_custom.js}"></script>
</body>

</html>
