<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Let's Buy - እንግዛ</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta th:name="description" content="Colo Shop Template">
<meta th:name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/responsive.css}">
</head>
<body>
<div class="main_nav_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-right">
						<div class="logo_container">
							<a th:href="@{/home}">Let's Buy <span>እንግዛ</span></a>
						</div>
						<nav class="navbar">
							<ul class="navbar_menu">
							<li><a th:href="@{/account}">Sign up</a></li>
								<li><a th:href="@{/contact}">contact</a></li>
								
								<span th:utext="${username}"></span>
								<li><a th:href="@{/login}">Log In</a></li>
							</ul>
							<ul class="navbar_user">
								
								<li><a th:href="@{/contact}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
								
							</ul>
							<div class="hamburger_container">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>

	<nav th:style="'margin-top:20px;margin-left:100px;margin-bottom:400px;'">
		
			<h3 class="text-danger">Our apologies: something went wrong</h3>
		
	</nav>
	<div class="container">
	
		<hr />
		<a th:href="@{/}" id="another">Please go back to our Home Page</a><br />
		<hr />
		
	</div>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
						<ul class="footer_nav">
							
							<li><a th:href="@{/contact}">Contact us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
						
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="footer_nav_container">
						<div class="cr"><span>እንግዛ</span>©2019 All Rights Reserved <i class="fa fa-heart-o" aria-hidden="true"></i> 
						 <a th:href="@{/contact}"></a></div>
					</div>
				</div>
			</div>
		</div>
	</footer>
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/styles/bootstrap4/popper.js}"></script>
<script th:src="@{/js/styles/bootstrap4/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/Isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
<script th:src="@{/js/plugins/easing/easing.js}"></script>
<script th:src="@{/js/custom.js}"></script>
    <script th:href="@{/js/jquery-3.3.1.slim.min.js}" src="../js/jquery-3.3.1.slim.min.js"></script>
    <script th:href="@{/js/popper.min.js}" src="../js/popper.min.js"></script>
    <script th:href="@{/js/bootstrap.min.js}" src="../js/bootstrap.min.js"></script>
    <script th:href="@{/js/holder.min.js}" src="../js/holder.min.js"></script>
</body>
</html>