<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Site made with Mobirise Website Builder v4.8.10, https://mobirise.com -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="generator" content="Mobirise v4.8.10, mobirise.com">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<link rel="shortcut icon" href="assets/images/logo2.png" type="image/x-icon">
<meta name="description" content="Web Creator Description">
<title>LogIn</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/responsive.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/web/assets/mobirise-icons/mobirise-icons.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/tether/tether.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap/css/bootstrap-grid.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap/css/bootstrap-reboot.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/dropdown/css/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/socicon/css/styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/theme/css/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/mobirise/css/mbr-additional.css}">
<link rel="stylesheet" th:href="@{/style.less}" class="cid-qTkzRZLJNu" id="menu1-1c" data-rv-view="419">

</head>
<body>
	
	

	<!-- Header -->

	<header class="header trans_300">

		<!-- Top Navigation -->
<!--
		<div class="top_nav">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="top_nav_left">free shipping on all u.s orders over $50</div>
					</div>
					<div class="col-md-6 text-right">
						<div class="top_nav_right">
							<ul class="top_nav_menu">-->

								<!-- Currency / Language / My Account -->
<!--
								<li class="currency">
									<a th:href="@{contact">
										usd
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="currency_selection">
										<li><a th:th:href="@{contact">cad</a></li>
										<li><a th:th:href="@{contact">aud</a></li>
										<li><a th:th:href="@{contact">eur</a></li>
										<li><a th:th:href="@{contact">gbp</a></li>
									</ul>
								</li>
								<li class="language">
									<a th:th:href="@{contact">
										English
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="language_selection">
										<li><a th:href="@{contact">French</a></li>
										<li><a th:href="@{contact">Italian</a></li>
										<li><a th:href="@{contact">German</a></li>
										<li><a th:href="@{contact">Spanish</a></li>
									</ul>
								</li>
								<li class="account">
									<a th:th:href="@{contact">
										My Account
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="account_selection">
										<li><a th:href="@{contact"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
										<li><a th:href="@{contact"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
-->
		<!-- Main Navigation -->

		<div class="main_nav_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-right">
						<div class="logo_container">
							<a th:href="@{/}">Let's Buy <span>እንግዛ</span></a>
						</div>
						<nav class="navbar">
							<ul class="navbar_menu">
							<li><a th:href="@{/account}">Create Account</a></li>
								<li><a th:href="@{/contact}">contact</a></li>
								
							
							</ul>
							<ul class="navbar_user">
								<li><a th:href="@{/contact}"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								<li><a th:href="@{/contact}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
								
							</ul>
							<div class="hamburger_container">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>

	</header>

	<div class="fs_menu_overlay"></div>
	<div class="hamburger_menu">
		<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="hamburger_menu_content text-right">
			<ul class="menu_top_nav">
				<li class="menu_item has-children">
					<a th:href="@{/contact}">
						usd
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{/contact}">cad</a></li>
						<li><a th:href="@{/contact}">aud</a></li>
						<li><a th:href="@{/contact}">eur</a></li>
						<li><a th:href="@{/contact}">gbp</a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a th:href="@{/contact}">
						English
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{/contact}">French</a></li>
						<li><a th:href="@{/contact}">Italian</a></li>
						<li><a th:href="@{/contact}">German</a></li>
						<li><a th:href="@{/contact}">Spanish</a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a th:href="@{/contact}">
						My Account
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{/contact}"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
						<li><a th:href="@{/contact}"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
					</ul>
				</li>
				<li class="menu_item"><a th:href="@{/contact}">contact</a></li>
				<li class="menu_item"><a th:href="@{/contact}">shop</a></li>
				<li class="menu_item"><a th:href="@{/contact}">promotion</a></li>
				<li class="menu_item"><a th:href="@{/contact}">pages</a></li>
				<li class="menu_item"><a th:href="@{/contact}">blog</a></li>
				<li class="menu_item"><a th:href="@{/contact}">contact</a></li>
			</ul>
		</div>
	</div>
	</section>
	<section class="engine"></section>
	<section class="mbr-section form1 cid-rexvlmxEXA" id="form1-1e" style="margin-top:200px">
		
		<div class="container">
			<div class="row justify-content-center">
				<div class="media-container-column col-lg-8" data-form-type="formoid">
					<form class="mbr-form" th:action="@{/login}" th:method="POST" data-form-title="Mobirise Form">
						<div class="row row-sm-offset" style="display:block">
							<div class="form-group">
								<div class="col-sm-4 label-column">
									<label class="control-label" for="UserName-input-field">User Name </label>
								</div>
								<div class="col-sm-6 input-column">
									<input th:placeholder="username"  name="username" id="UserName" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4 label-column">
									<label class="control-label" for="pawssword-input-field">Password </label>
								</div>
								<div class="col-sm-6 input-column">
									<input th:placeholder="Password" name="password" id="Password" class="form-control" type="password">
								</div>
							</div>
						</div>
						<div class="text-danger" align="center" th:if="${param.error}">
							<p>Username or Password invalid, please verify</p>
						</div>
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary btn-form display-4">Log In</button>
						</span>
					</form>
				</div>
			</div>
		</div>
	</section>
	<section once="" class="cid-rcTVgjxylF" id="footer7-1d">
		<div class="container">
			<div class="media-container-row align-center mbr-white">
				<div class="row row-links">
					<ul class="foot-menu">
						<li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white mbr-bold" href="#" target="_blank">About us</a></li>
						<li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white mbr-bold" href="#" target="_blank">Services</a></li>
						<li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white mbr-bold" href="#" target="_blank">Get In Touch</a></li>
						<li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white mbr-bold" href="#" target="_blank">Careers</a></li>
						<li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white mbr-bold" href="#" target="_blank">Work</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<script src="assets/web/assets/jquery/jquery.min.js"></script>
	<script src="assets/popper/popper.min.js"></script>
	<script src="assets/tether/tether.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/smoothscroll/smooth-scroll.js"></script>
	<script src="assets/dropdown/js/script.min.js"></script>
	<script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
	<script src="assets/theme/js/script.js"></script>
	<script src="assets/formoid/formoid.min.js"></script>
</body>
</html>