<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Single Product</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Colo Shop Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}">
<link rel="stylesheet" th:href="@{/plugins/themify-icons/themify-icons.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/single_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/single_responsive.css}">
<style>
ul {
	list-style: none;
}

.list::before {
	content: "\2022";
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	border: solid 2px #f5f5f5;
}
</style>
<script>
function adjustTheColor(var r){
	 var blk = document.getElementById(r);
	 blk.checked=true;
	 
}

</script>
</head>
<body>
	<div class="super_container">
		<!-- Header -->
		<header class="header trans_300">
			<!-- Main Navigation -->
			<div class="main_nav_container">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-right">
							<div class="logo_container">
								<a th:href="@{#}">colo<span>shop</span></a>
							</div>
							<nav class="navbar">
								<ul class="navbar_menu">
									<li><a th:href="@{/}">home</a></li>
									<li><a th:href="@{#}">shop</a></li>
									<li><a th:href="@{#}">promotion</a></li>
									<li><a th:href="@{#}">pages</a></li>
									<li><a th:href="@{#}">blog</a></li>
									<li><a th:href="@{contact.html}">contact</a></li>
								</ul>
								<ul class="navbar_user">
									<li><a th:href="@{#}"><i class="fa fa-search" aria-hidden="true"></i></a></li>
									<li><a th:href="@{#}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
									<li class="checkout"><a th:href="@{#}"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span id="checkout_items" class="checkout_items">2</span>
									</a></li>
								</ul>
								<div class="hamburger_container">
									<i class="fa fa-bars" aria-hidden="true"></i>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="fs_menu_overlay"></div>
		<!-- Hamburger Menu -->
		<div class="hamburger_menu">
			<div class="hamburger_close">
				<i class="fa fa-times" aria-hidden="true"></i>
			</div>
			<div class="hamburger_menu_content text-right">
				<ul class="menu_top_nav">
					<li class="menu_item has-children"><a th:href="@{#}"> usd <i class="fa fa-angle-down"></i>
					</a>
						<ul class="menu_selection">
							<li><a th:href="@{#}">cad</a></li>
							<li><a th:href="@{#}">aud</a></li>
							<li><a th:href="@{#}">eur</a></li>
							<li><a th:href="@{#}">gbp</a></li>
						</ul></li>
					<li class="menu_item has-children"><a th:href="@{#}"> English <i class="fa fa-angle-down"></i>
					</a>
						<ul class="menu_selection">
							<li><a th:href="@{#}">French</a></li>
							<li><a th:href="@{#}">Italian</a></li>
							<li><a th:href="@{#}">German</a></li>
							<li><a th:href="@{#}">Spanish</a></li>
						</ul></li>
					<li class="menu_item has-children"><a th:href="@{#}"> My Account <i class="fa fa-angle-down"></i>
					</a>
						<ul class="menu_selection">
							<li><a th:href="@{#}"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
							<li><a th:href="@{#}"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
						</ul></li>
					<li class="menu_item"><a th:href="@{/}">home</a></li>
					<li class="menu_item"><a th:href="@{#}">shop</a></li>
					<li class="menu_item"><a th:href="@{#}">promotion</a></li>
					<li class="menu_item"><a th:href="@{#}">pages</a></li>
					<li class="menu_item"><a th:href="@{#}">blog</a></li>
					<li class="menu_item"><a th:href="@{/contact}">contact</a></li>
				</ul>
			</div>
		</div>
		<div class="container single_product_container"> 
			<div class="row">
				<div class="col-lg-7">
					<div class="single_product_pics">
						<div class="row">
							<div class="col-lg-3 thumbnails_col order-lg-1 order-2">
								<div class="single_product_thumbnails">
									<ul>
										<li><img th:src="@{/images/single_1_thumb.jpg}" alt="" data-image="images/single_1.jpg"></li>
										<li class="active"><img th:src="@{/images/single_2_thumb.jpg}" alt="" data-image="images/single_2.jpg"></li>
										<li><img th:src="@{/images/single_3_thumb.jpg}" alt="" data-image="images/single_3.jpg"></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-9 image_col order-lg-2 order-1">
								<div class="single_product_image">
									<div class="single_product_image_background" style="background-image: url(images/single_2.jpg)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="product_details">
						<div class="product_details_title">
							<h2 th:text="${orderData.productIdName}">Pocket cotton sweatshirt</h2>
							<h2 th:text="${orderData.amount}">Pocket cotton sweatshirt</h2>
							<h2 th:text="${orderData.orderStatus}">Pocket cotton sweatshirt</h2>
							<h2 th:text="${orderData.payment}">Pocket cotton sweatshirt</h2>
						</div>
						</div>
						<ul class="star_rating">
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
						</ul>
						
					</div>
				</div>
			</div>
		</div>
		<!-- Footer -->
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
							<ul class="footer_nav">
								<li><a th:href="@{#}">Blog</a></li>
								<li><a th:href="@{#}">FAQs</a></li>
								<li><a th:href="@{contact.html}">Contact us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
							<ul>
								<li><a th:href="@{#}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a th:href="@{#}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a th:href="@{#}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a th:href="@{#}"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
								<li><a th:href="@{#}"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="footer_nav_container">
							<div class="cr">©2018 All Rights Reserverd.</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/styles/bootstrap4/popper.js}"></script>
	<script th:src="@{/styles/bootstrap4/bootstrap.min.js}"></script>
	<script th:src="@{/plugins/Isotope/isotope.pkgd.min.js}"></script>
	<script th:src="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
	<script th:src="@{/plugins/easing/easing.js}"></script>
	<script th:src="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
	<script th:src="@{/js/single_custom.js}"></script>
</body>
</html>
