<!DOCTYPE html>
<html 
  xmlns="http://www.w3.org/1999/xhtml" 
     xmlns:th="http://www.thymeleaf.org">
<head>
<title>Product</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta th:name="description" content="Colo Shop Template">
<meta th:name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/responsive.css}">
</head>

<body>
<form method="POST" th:action="@{/product}" th:object="${pdt}">
<div> <h3>Product ID</h3><input type="text" th:field="*{id}"></input></div>
	<br/>

	<div> <h3>Product purchasing price</h3><input type="text" th:field="*{name}"></input></div>
		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</p>
	
	<br/>
	<div> <h3>Product purchasing price</h3><input type="text" th:field="*{purchasing_price}"></input></div>
	<br/>
	<div> <h3>Product selling price</h3><input type="text" th:field="*{selling_price}"></input></div>
	<br/>
	<div> <h3>Product material type</h3><input type="text" th:field="*{materialType}"></input></div>
	<br/>
	<div> <h3>Product description</h3><input type="text" th:field="*{description}"></input></div>
	<br/>
	<div> <h3>Product category id</h3><input type="text" th:field="*{category_id}"></input></div>
	<br/>
	<div> <h3>Product Date</h3><input type="datetime" th:field="*{date}"></input></div>
	<br/>
	<div> <h3>Product gender</h3><input type="text" th:field="*{gender}"></input></div>
	<br/>
	<button>Submit your product</button>

</form>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/styles/bootstrap4/popper.js}"></script>
<script th:src="@{/js/styles/bootstrap4/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/Isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
<script th:src="@{/js/plugins/easing/easing.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>

</html>
