<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Single Product</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Colo Shop Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}">
<link rel="stylesheet" th:href="@{/plugins/themify-icons/themify-icons.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/single_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/single_responsive.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap-journal.css}">

<style>
ul {
	list-style: none;
}

.list::before {
	content: "\2022";
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	border: solid 2px #f5f5f5;
}
</style>
<script>
function adjustTheColor(var r){
	 var blk = document.getElementById(r);
	 blk.checked=true;
	 
}

</script>
</head>
<body>
	<div class="super_container">

	<!-- Header -->

	<header class="header trans_300">

		<!-- Top Navigation -->
<!--
		<div class="top_nav">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="top_nav_left">free shipping on all u.s orders over $50</div>
					</div>
					<div class="col-md-6 text-right">
						<div class="top_nav_right">
							<ul class="top_nav_menu">-->

								<!-- Currency / Language / My Account -->
<!--
								<li class="currency">
									<a th:href="@{contact">
										usd
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="currency_selection">
										<li><a th:th:href="@{contact">cad</a></li>
										<li><a th:th:href="@{contact">aud</a></li>
										<li><a th:th:href="@{contact">eur</a></li>
										<li><a th:th:href="@{contact">gbp</a></li>
									</ul>
								</li>
								<li class="language">
									<a th:th:href="@{contact">
										English
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="language_selection">
										<li><a th:href="@{contact">French</a></li>
										<li><a th:href="@{contact">Italian</a></li>
										<li><a th:href="@{contact">German</a></li>
										<li><a th:href="@{contact">Spanish</a></li>
									</ul>
								</li>
								<li class="account">
									<a th:th:href="@{contact">
										My Account
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="account_selection">
										<li><a th:href="@{contact"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
										<li><a th:href="@{contact"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
-->
		<!-- Main Navigation -->

		<div class="main_nav_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-right">
						<div class="logo_container">
							<a th:href="@{/home}">Let's Buy <span>እንግዛ</span></a>
						</div>
						<nav class="navbar">
							<ul class="navbar_menu">
							
								<li><a th:href="@{/contact}">contact</a></li>
								
								
							</ul>
							<ul class="navbar_user">
								
								<li><a th:href="@{#}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
								
							</ul>
							<div class="hamburger_container">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>

	</header>

	<div class="fs_menu_overlay"></div>
	<div class="hamburger_menu">
		<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="hamburger_menu_content text-right">
			<ul class="menu_top_nav">
				<li class="menu_item has-children">
					<a th:href="@{/contact}">
						usd
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{/contact}">cad</a></li>
						<li><a th:href="@{/contact}">aud</a></li>
						<li><a th:href="@{/contact}">eur</a></li>
						<li><a th:href="@{/contact}">gbp</a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a th:href="@{/contact}">
						English
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{/contact}">French</a></li>
						<li><a th:href="@{/contact}">Italian</a></li>
						<li><a th:href="@{/contact}">German</a></li>
						<li><a th:href="@{/contact}">Spanish</a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a th:href="@{/contact}">
						My Account
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{/contact}"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
						<li><a th:href="@{/contact}"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
					</ul>
				</li>
				
				<li class="menu_item"><a th:href="@{/contact}">contact</a></li>
				<li class="menu_item"><a th:href="@{/contact}">shop</a></li>
				<li class="menu_item"><a th:href="@{/contact}">promotion</a></li>
				<li class="menu_item"><a th:href="@{/contact}">pages</a></li>
				<li class="menu_item"><a th:href="@{/contact}">blog</a></li>
				<li class="menu_item"><a th:href="@{/contact}">contact</a></li>
			</ul>
		</div>
	</div>
		<div  class="container product_section_container">
		<div class="row">
			<div class="col product_section clearfix">

				<!-- Breadcrumbs -->

				<div class="breadcrumbs d-flex flex-row align-items-center">
					<ul>
						<li><a th:href="@{/}">Home</a></li>
						<li class="active"><a th:href="@{#}"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's</a></li>
					</ul>
				</div>
	<div class="sidebar">
					<div class="sidebar_section">
						<div class="sidebar_title">
							<h5>Product Category</h5>
						</div>
						<ul class="sidebar_categories">
								<li><a th:href="@{/categoriesmen}">Men</a></li>
							<li><a th:href="@{/categorieswomen}"><span></span>Women</a></li>
							<li><a th:href="@{/categoriesaccessory}">Accessories</a></li>
							<li><a th:href="@{/categoriestraditional}">Traditional Items</a></li>
							
						</ul>
					</div>
					</div>
					</div>
					</div>
		<div class="container single_product_container" > 
			<div class="row">
				<div class="col-lg-7">
					<div class="single_product_pics">
						<div class="row">
							<div class="col-lg-3 thumbnails_col order-lg-1 order-2">
								<div class="single_product_thumbnails">
									<ul>
										<li><img th:src="@{/images/single_1_thumb.jpg}" alt="" data-image="images/single_1.jpg"></li>
										<li class="active"><img th:src="@{/images/single_2_thumb.jpg}" alt="" data-image="images/single_2.jpg"></li>
										<li><img th:src="@{/images/single_3_thumb.jpg}" alt="" data-image="images/single_3.jpg"></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-9 image_col order-lg-2 order-1">
								<div class="single_product_image">
									<div class="single_product_image_background" style="background-image: url(images/single_2.jpg)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="product_details">
						<div class="product_details_title">
							<h2 th:text="${singleProduct.Name}">Pocket cotton sweatshirt</h2>
							<p th:text="${singleProduct.Description}"></p>
								<form  method="POST" th:action="@{/wishlist}" th:object="${wishlist}">
							<div ><button class="btn btn-primary "  type="submit">add to wishlist</button></div>
							</form>
							<form  method="POST" th:action="@{/cart}" th:object="${wishlist}">
							<div ><button class="btn btn-primary "  type="submit">add to cart</button></div>
							</form>
						</div>
						<!-- <div class="free_delivery d-flex flex-row align-items-center justify-content-center" th:if="${#strings.equalsIgnoreCase('yes',singleProductSizeColor.freeShipping)}">
							<span class="ti-truck"></span> <span>free delivery</span>
						</div> -->
						
						<div class="product_price" th:text="${singleProductSizeColor.sellingPrice}"></div>
					
						<form th:action="@{/orderItem}" th:method="POST" th:object="${order}">
							<input type="text" name="productIdName" th:value="${singleProductSizeColor.productIdName}" hidden="true" />
							<br />
							<br />
							<span>Select color and size:</span>
							<hr />
							<ul >
								<li  th:each="color : ${sizeMap}" style="list-style: none; display:inline-block;  border:1px solid #0000001a; padding:20px;" >
									<ul style="color: black; list-style: none;">
										<li th:each="size: ${color.value}">
										<ul>
										<li>
											<input type="radio" name="color"  th:value="${color.key.Id}" />
										<span>
										<svg>
 											 <rect x="10" y="120" width="35" height="35" th:style="${'fill:'+ color.key.color +';border:2px solid #0000001a;'}"/>
										</svg></span></li>
										<li>
											<input name="size" type="radio" th:value="${size.Id}" />
											<span th:text="${size.sizeName}">INGREDIENT</span>
											<br/>
											</li>
											</ul>
											</li>
											
									</ul>
								</li>
							</ul>
							<div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
								<span>Quantity:</span>
								<div > 
									 
									 <input id="quantity_value" name="amount" th:field="*{amount}" type="text" />
									 <span class="text-danger"
					th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"
				>Street Error</span> 
								</div>
								<div>
									<button class="btn btn-default submit-button red_button add_to_cart_button" type="submit">Order</button>
								</div>
								<div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer -->
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
							<ul class="footer_nav">
								
								<li><a th:href="@{contact.html}">Contact us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
							<ul>
								<li><a th:href="@{#}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a th:href="@{#}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a th:href="@{#}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a th:href="@{#}"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
								<li><a th:href="@{#}"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="footer_nav_container">
							<div class="cr">©2018 All Rights Reserverd.</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/styles/bootstrap4/popper.js}"></script>
	<script th:src="@{/styles/bootstrap4/bootstrap.min.js}"></script>
	<script th:src="@{/plugins/Isotope/isotope.pkgd.min.js}"></script>
	<script th:src="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
	<script th:src="@{/plugins/easing/easing.js}"></script>
	<script th:src="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
	<script th:src="@{/js/single_custom.js}"></script>
</body>
</html>
