<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
     xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{assets/css/Pretty-Registration-Form.css}">
</head>

<body>
    <div class="row register-form">
    <a class="navbar-brand" href="#">
			<h1><span th:utext="${successMessage}"></span></h1>
		</a>
        <div class="col-md-8 col-md-offset-2">
            <form class="form-horizontal custom-form" th:action="@{/createAccount}" th:method="POST" th:object="${account}">
                <h1>Sign Up</h1>
                
                
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label class="control-label" for="FirstName">First Name </label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input th:field="*{firstName}" name="FirstName" id="FirstName"  class="form-control" type="text">
                        <span class="User" th:if="${#fields.hasErrors('firstName')}"		                       						
 								th:errors="*{firstName}">								
 						</span>                        
                    </div>                    
                </div>
                
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label class="control-label" for="Lastame">Last Name </label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input  th:field="*{lastName}" name="LastName" id="LastName" class="form-control" type="text">
                        <span class="User" th:if="${#fields.hasErrors('lastName')}"		
                         						
 								th:errors="*{lastName}">								
 						</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label class="control-label" for="UserName-input-field">User Name </label>
                        
                    </div>
                    <div class="col-sm-6 input-column">
                        <input  th:field="*{username}" name="UserName" id="UserName" class="form-control" type="text">
                        <span class="User" th:if="${#fields.hasErrors('username')}"		
                         						
 								th:errors="*{username}">								
 						</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label class="control-label" for="email-input-field">Email </label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input  th:field="*{email}" name="Email" id="Email" class="form-control" type="email">
                        <span class="User" th:if="${#fields.hasErrors('email')}"		
                         						
 								th:errors="*{email}">								
 						</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label class="control-label" for="pawssword-input-field">Password </label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input  th:field="*{password}" name="Password" id="Password" class="form-control" type="password">
                        <span class="User" th:if="${#fields.hasErrors('password')}"		
                         						
 								th:errors="*{password}">								
 						</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label class="control-label" for="repeat-pawssword-input-field">Phone Number</label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input  th:field="*{phoneNumber}" name="PhoneNumber" id="PhoneNumber" class="form-control" type="number">
                        <span class="User" th:if="${#fields.hasErrors('phoneNumber')}"		
                         						
 								th:errors="*{phoneNumber}">								
 						</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label class="control-label" for="Optional -input-field">Optional Phone </label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input  th:field="*{optionalPhoneNumber}" name="OptionalPhone" id="OptionalPhone" class="form-control" type="number">
                        <span class="User" th:if="${#fields.hasErrors('optionalPhoneNumber')}"		
                         						
 								th:errors="*{optionalPhoneNumber}">								
 						</span>
                    </div>
                </div>
                 <button class="btn btn-default submit-button" type="submit">Sign Up</button>
             </form>
             
        </div>
    </div>
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>