<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
     xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{assets/css/Pretty-Registration-Form.css}">
</head>

<body>
<form class="form-horizontal custom-form" th:action="@{/createBankAccount}" th:object="${bank}" th:method="POST" >
                <h1>Bank Account Information</h1>
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label class="control-label" for="repeat-pawssword-input-field">Account Number</label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input th:field="*{bankNumber}" name="AccountNumber" id="AccountNumber" class="form-control" type="number">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label class="control-label" for="repeat-pawssword-input-field">Pin Code </label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input  th:field="*{pinCode}" name="PinCode" id="PinCode" class="form-control" type="password">
                    </div>
                </div>
                <button class="btn btn-default submit-button" type="submit">Create bank account</button>
            </form>
<script src="@{/assets/js/jquery.min.js}"></script>
    <script src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>