<!DOCTYPE html>
<html 
  xmlns="http://www.w3.org/1999/xhtml" 
     xmlns:th="http://www.thymeleaf.org">
<head>
<title>Colo Shop</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta th:name="description" content="Colo Shop Template">
<meta th:name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/responsive.css}">
</head>

<body>

<div class="super_container">

	<!-- Header -->

	<header class="header trans_300">

		<!-- Top Navigation -->
<!--
		<div class="top_nav">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="top_nav_left">free shipping on all u.s orders over $50</div>
					</div>
					<div class="col-md-6 text-right">
						<div class="top_nav_right">
							<ul class="top_nav_menu">-->

								<!-- Currency / Language / My Account -->
<!--
								<li class="currency">
									<a th:href="@{contact">
										usd
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="currency_selection">
										<li><a th:th:href="@{contact">cad</a></li>
										<li><a th:th:href="@{contact">aud</a></li>
										<li><a th:th:href="@{contact">eur</a></li>
										<li><a th:th:href="@{contact">gbp</a></li>
									</ul>
								</li>
								<li class="language">
									<a th:th:href="@{contact">
										English
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="language_selection">
										<li><a th:href="@{contact">French</a></li>
										<li><a th:href="@{contact">Italian</a></li>
										<li><a th:href="@{contact">German</a></li>
										<li><a th:href="@{contact">Spanish</a></li>
									</ul>
								</li>
								<li class="account">
									<a th:th:href="@{contact">
										My Account
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="account_selection">
										<li><a th:href="@{contact"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
										<li><a th:href="@{contact"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
-->
		<!-- Main Navigation -->

		<div class="main_nav_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-right">
						<div class="logo_container">
							<a th:href="@{/home}">Let's Buy <span>እንግዛ</span></a>
						</div>
						<nav class="navbar">
							<ul class="navbar_menu">
							<li><a th:href="@{/account}">Create Account</a></li>
								<li><a th:href="@{/contact}">contact</a></li>
								<li><a th:href="@{/categories}">shop</a></li>
								<li><a th:href="@{/login}">Log In</a></li>
							</ul>
							<ul class="navbar_user">
								<li><a th:href="@{/contact}"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								<li><a th:href="@{/contact}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
								<li class="checkout">
					
										<i class="fa fa-shopping-cart" aria-hidden="true"></i>
										<span id="checkout_items" class="checkout_items">2</span>
									</a>
								</li>
							</ul>
							<div class="hamburger_container">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>

	</header>

	<div class="fs_menu_overlay"></div>
	<div class="hamburger_menu">
		<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="hamburger_menu_content text-right">
			<ul class="menu_top_nav">
				<li class="menu_item has-children">
					<a th:href="@{/contact}">
						usd
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{/contact}">cad</a></li>
						<li><a th:href="@{/contact}">aud</a></li>
						<li><a th:href="@{/contact}">eur</a></li>
						<li><a th:href="@{/contact}">gbp</a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a th:href="@{/contact}">
						English
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{/contact}">French</a></li>
						<li><a th:href="@{/contact}">Italian</a></li>
						<li><a th:href="@{/contact}">German</a></li>
						<li><a th:href="@{/contact}">Spanish</a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a th:href="@{/contact}">
						My Account
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a th:href="@{/contact}"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
						<li><a th:href="@{/contact}"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
					</ul>
				</li>
				<li class="menu_item"><a th:href="@{/contact}">contact</a></li>
				<li class="menu_item"><a th:href="@{/contact}">shop</a></li>
				<li class="menu_item"><a th:href="@{/contact}">promotion</a></li>
				<li class="menu_item"><a th:href="@{/contact}">pages</a></li>
				<li class="menu_item"><a th:href="@{/contact}">blog</a></li>
				<li class="menu_item"><a th:href="@{/contact}">contact</a></li>
			</ul>
		</div>
	</div>

	<!-- Slider -->

	<div class="main_slider" style="background-image:url(images/slide5.jpg)">
		<div class="container fill_height">
			<div class="row align-items-center fill_height">
				<div class="col">
					<div class="main_slider_content">
						<h6>Spring / Summer Collection 2017</h6>
						<h1>Get up to 30% Off New Arrivals</h1>
						<div class="red_button shop_now_button">
						<a th:href="@{/}">shop now</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Banner -->
	
	<div id="catagories" class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(images/kemis1.jpg)">
						<div class="banner_category">
							<a th:href="@{/categorieswomen}">women's</a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(images/men1.jpg)">
						<div class="banner_category">
							<a th:href="@{/categoriesmen}">men's</a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(images/j1.jpg)">
						<div class="banner_category">
							<a th:href="@{/categoriesaccessories}">accessories's</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(images/item1.jpg)">
						<div class="banner_category">
							<a th:href="@{/categoriestraditional}">Traditional Items</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<!-- New Arrivals -->

	<div id ="newarrivals"class="new_arrivals">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title new_arrivals_title">
						<h2>New Arrivals</h2>
					</div>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col text-center">
					<div class="new_arrivals_sorting" >
						<ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
							<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
							<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".women">women's</li>
							<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".accessories">accessories</li>
							<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".men">men's</li>
							<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".men">Traditional Items</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }' th:each="product : ${ListOfProduct}">

						<!-- Product 1 -->

						<div class="product-item men" >
							<div class="product discount product_filter">
								<div class="product_image">
								 	<!-- <img th:th:src="@{/images/etpro1.jpg}" alt="">   -->
								</div>
								<div class="favorite favorite_left"></div>
								<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"></div>
								<div class="product_info">
									<h6 class="product_name" th:text="${product.productIdName}"></h6>
								<h6>	<a th:href="${'/single/' + product.productIdName}">View Detail</a></h6>
									
									<div class="product_price" th:text="${product.sellingPrice}"></div>
								</div>
							</div>
							<div class="red_button add_to_cart_button">
							</div>
						</div>

							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Deal of the week -->

	<div class="deal_ofthe_week">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="deal_ofthe_week_img">
						<img th:src="@{/images/kemis1.jpg}" alt="">
					</div>
				</div>
				<div class="col-lg-6 text-right deal_ofthe_week_col">
					<div class="deal_ofthe_week_content d-flex flex-column align-items-center float-right">
						<div class="section_title">
							<h2>Deal Of The Week</h2>
						</div>
						<ul class="timer">
							<li class="d-inline-flex flex-column justify-content-center align-items-center">
								<div id="day" class="timer_num">03</div>
								<div class="timer_unit">Day</div>
							</li>
							<li class="d-inline-flex flex-column justify-content-center align-items-center">
								<div id="hour" class="timer_num">15</div>
								<div class="timer_unit">Hours</div>
							</li>
							<li class="d-inline-flex flex-column justify-content-center align-items-center">
								<div id="minute" class="timer_num">45</div>
								<div class="timer_unit">Mins</div>
							</li>
							<li class="d-inline-flex flex-column justify-content-center align-items-center">
								<div id="second" class="timer_num">23</div>
								<div class="timer_unit">Sec</div>
							</li>
						</ul>
						<div class="red_button deal_ofthe_week_button"><a th:href="@{/contact}">shop now</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Best Sellers -->

	<div class="best_sellers">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title new_arrivals_title">
						<h2>Best Sellers</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="product_slider_container">
						<div class="owl-carousel owl-theme product_slider" th:each="product : ${ListOfProduct}">

							<!-- Slide 1 -->

							<div class="owl-item product_slider_item">
								<div class="product-item">
									<div class="product discount">
										<div class="product_image">
											<img th:src="@{/images/dress1.jpg}" alt="">
										</div>
										<div class="favorite favorite_left"></div>
										<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
										<div class="product_info">
											<h6 class="product_name">
											    <a th:href="@{/single}">Fujifilm X100T 16 MP Digital Camera (Silver)</a></h6>
											<div class="product_price">$520.00<span>$590.00</span></div>
										</div>
									</div>
								</div>
							</div>

						<!-- Slider Navigation -->

						<div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Benefit -->

	<!-- <div class="benefit"> -->
		<div class="container">
			<div class="row benefit_row">
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>free shipping</h6>
							<p>Suffered Alteration in Some Form</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>cach on delivery</h6>
							<p>The Internet Tend To Repeat</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>45 days return</h6>
							<p>Making it Look Like Readable</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>opening all week</h6>
							<p>8AM - 09PM</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Blogs -->
<!--
	<div class="blogs">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">
						<h2>Latest Blogs</h2>
					</div>
				</div>
			</div>
			<div class="row blogs_container">
				<div class="col-lg-4 blog_item_col">
					<div class="blog_item">
						<div class="blog_background" style="background-image:url(images/blog_1.jpg)"></div>
						<div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
							<h4 class="blog_title">Here are the trends I see coming this fall</h4>
							<span class="blog_meta">by admin | dec 01, 2017</span>
							<a class="blog_more" th:href="@{/contact">Read more</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 blog_item_col">
					<div class="blog_item">
						<div class="blog_background" style="background-image:url(images/blog_2.jpg)"></div>
						<div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
							<h4 class="blog_title">Here are the trends I see coming this fall</h4>
							<span class="blog_meta">by admin | dec 01, 2017</span>
							<a class="blog_more" th:href="@{/contact">Read more</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 blog_item_col">
					<div class="blog_item">
						<div class="blog_background" style="background-image:url(images/blog_3.jpg)"></div>
						<div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
							<h4 class="blog_title">Here are the trends I see coming this fall</h4>
							<span class="blog_meta">by admin | dec 01, 2017</span>
							<a class="blog_more" th:href="@{/contact">Read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
-->
	<!-- Newsletter -->
<!--
	<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
						<h4>Newsletter</h4>
						<p>Subscribe to our newsletter and get 20% off your first purchase</p>
					</div>
				</div>
				<div class="col-lg-6">
					<form action="post">
						<div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
							<input id="newsletter_email" type="email" placeholder="Your email" required="required" data-error="Valid email is required.">
							<button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
-->
	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
						<ul class="footer_nav">
							<li><a th:href="@{/contact}">Blog</a></li>
							<li><a th:href="@{/contact}">FAQs</a></li>
							<li><a th:href="@{/contact}">Contact us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
						<ul>
							<li><a th:href="@{/contact}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a th:href="@{/contact}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a th:href="@{/contact}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a th:href="@{/contact}"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
							<li><a th:href="@{/contact}"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="footer_nav_container">
						<div class="cr">©2018 All Rights Reserverd <i class="fa fa-heart-o" aria-hidden="true"></i> 
						 <a th:href="@{/contact}"></a></div>
					</div>
				</div>
			</div>
		</div>
	</footer>

</div>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/styles/bootstrap4/popper.js}"></script>
<script th:src="@{/js/styles/bootstrap4/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/Isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
<script th:src="@{/js/plugins/easing/easing.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>

</html>
