<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml" 
     xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta th:name="description" content="Colo Shop Template">
<meta th:name="viewport" content="width=device-width, initial-scale=1">
    <title>Order Page</title>
    
    <meta charset="utf-8">

<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/responsive.css}">
    
    <link rel="stylesheet" th:href="@{assetsorder/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assetsorder/css/styles.css}">
    <link rel="stylesheet" th:href="@{assetsorder/css/Bootstrap-Payment-Form.css}">
</head>

<body>
<header class="header trans_300">

		<!-- Main Navigation -->

		<div class="main_nav_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-right">
						<div class="logo_container">
							<a th:href="@{/contact}">Let's Buy <span>እንግዛ</span></a>
						</div>
						<nav class="navbar">
							<ul class="navbar_menu">
								<li><a th:href="@{/contact}">Contact Us </a></li>
								<li><a th:href="@{/order}">Order</a></li>								
								<li><a th:href="@{/account}">My Account</a></li>
								
							</ul>
							
							<div class="hamburger_container">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>

	</header>

    <form class="bootstrap-form-with-validation">
        <h1 class="text-center">Order </h1>
        <div class="form-group">
            <label class="control-label" for="text-input">Amount </label>
            <input class="form-control" type="text" name="amount" id="amount" th:field="*{amount}">
            <span class="User" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">	</span>	
        </div>
        <div th:each="ingredient : ${wrap}">
						<input name="ingredients" type="checkbox"
							th:value="${ingredient.id}" /> <span
							th:text="${ingredient.name}">INGREDIENT</span><br />
		</div>
        <div class="form-group">
            <label class="control-label" for="text-input">Color </label>
            <input class="form-control" type="text" name="color" id="color">
            <span class="User" th:if="${#fields.hasErrors('email')}" th:errors="*{color}">	</span>	
        </div>
        <div class="form-group">
            <label class="control-label" for="date-input">Date </label>
            <textarea class="form-control" name="date" id="date"></textarea>
            <span class="User" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">	</span>	
        </div>
        <div class="form-group"></div>
        <div class="form-group"></div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Order </button>
        </div>
    </form>
    
    <footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
						<ul class="footer_nav">
							
							<li><a th:href="@{/contact}">Contact us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
						<ul>
							<li><a th:href="@{#}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a th:href="@{#}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a th:href="@{#}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a th:href="@{#}"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
							<li><a th:href="@{#}"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="footer_nav_container">
						<div class="cr">©2018 All Rights Reserverd.</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
    <script th:src="@{assetsorder/js/jquery.min.js}"></script>
    <script th:src="@{assetsorder/bootstrap/js/bootstrap.min.js}"></script>
    
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/styles/bootstrap4/popper.js}"></script>
<script th:src="@{/js/styles/bootstrap4/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/Isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
<script th:src="@{/js/plugins/easing/easing.js}"></script>
<script th:src="@{/js/custom.js}"></script>
    
    
</body>

</html>