<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Single Product</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Colo Shop Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}">
<link rel="stylesheet" th:href="@{/plugins/themify-icons/themify-icons.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/single_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/single_responsive.css}">
</head>
<body>
	<div class="super_container">
		<!-- Header -->
		<header class="header trans_300">
			<!-- Top Navigation -->
			<!--
		<div class="top_nav">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="top_nav_left">free shipping on all u.s orders over $50</div>
					</div>
					<div class="col-md-6 text-right">
						<div class="top_nav_right">
							<ul class="top_nav_menu">-->
			<!-- Currency / Language / My Account -->
			<!--
								<li class="currency">
									<a th:href="@{#}">
										usd
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="currency_selection">
										<li><a th:href="@{#}">cad</a></li>
										<li><a th:href="@{"#"}>aud</a></li>
										<li><a th:href="@{"#"}>eur</a></li>
										<li><th:href="@{"#"}>gbp</a></li>
									</ul>
								</li>
								<li class="language">
									<a href="#">
										English
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="language_selection">
										<li><a href="#">French</a></li>
										<li><a href="#">Italian</a></li>
										<li><a href="#">German</a></li>
										<li><a href="#">Spanish</a></li>
									</ul>
								</li>
								<li class="account">
									<a href="#">
										My Account
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="account_selection">
										<li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
										<li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
-->
			<!-- Main Navigation -->
			<div class="main_nav_container">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-right">
							<div class="logo_container">
								<a th:href="@{#}">colo<span>shop</span></a>
							</div>
							<nav class="navbar">
								<ul class="navbar_menu">
									<li><a th:href="@{index.html}">home</a></li>
									<li><a th:href="@{#}">shop</a></li>
									<li><a th:href="@{#}">promotion</a></li>
									<li><a th:href="@{#}">pages</a></li>
									<li><a th:href="@{#}">blog</a></li>
									<li><a th:href="@{contact.html}">contact</a></li>
								</ul>
								<ul class="navbar_user">
									<li><a th:href="@{#}"><i class="fa fa-search" aria-hidden="true"></i></a></li>
									<li><a th:href="@{#}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
									<li class="checkout"><a th:href="@{#}"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span id="checkout_items" class="checkout_items">2</span>
									</a></li>
								</ul>
								<div class="hamburger_container">
									<i class="fa fa-bars" aria-hidden="true"></i>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="fs_menu_overlay"></div>
		<!-- Hamburger Menu -->
		<div class="hamburger_menu">
			<div class="hamburger_close">
				<i class="fa fa-times" aria-hidden="true"></i>
			</div>
			<div class="hamburger_menu_content text-right">
				<ul class="menu_top_nav">
					<li class="menu_item has-children"><a th:href="@{#}"> usd <i class="fa fa-angle-down"></i>
					</a>
						<ul class="menu_selection">
							<li><a th:href="@{#}">cad</a></li>
							<li><a th:href="@{#}">aud</a></li>
							<li><a th:href="@{#}">eur</a></li>
							<li><a th:href="@{#}">gbp</a></li>
						</ul></li>
					<li class="menu_item has-children"><a th:href="@{#}"> English <i class="fa fa-angle-down"></i>
					</a>
						<ul class="menu_selection">
							<li><a th:href="@{#}">French</a></li>
							<li><a th:href="@{#}">Italian</a></li>
							<li><a th:href="@{#}">German</a></li>
							<li><a th:href="@{#}">Spanish</a></li>
						</ul></li>
					<li class="menu_item has-children"><a th:href="@{#}"> My Account <i class="fa fa-angle-down"></i>
					</a>
						<ul class="menu_selection">
							<li><a th:href="@{#}"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
							<li><a th:href="@{#}"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
						</ul></li>
					<li class="menu_item"><a th:href="@{/}">home</a></li>
					<li class="menu_item"><a th:href="@{#}">shop</a></li>
					<li class="menu_item"><a th:href="@{#}">promotion</a></li>
					<li class="menu_item"><a th:href="@{#}">pages</a></li>
					<li class="menu_item"><a th:href="@{#}">blog</a></li>
					<li class="menu_item"><a th:href="@{/contact}">contact</a></li>
				</ul>
			</div>
		</div>
		<div class="container single_product_container">
			<div class="row">
				<div class="col-lg-7">
					<div class="single_product_pics">
						<div class="row">
							<div class="col-lg-3 thumbnails_col order-lg-1 order-2">
								<div class="single_product_thumbnails">
									<ul>
										<li><img th:src="@{/images/single_1_thumb.jpg}" alt="" data-image="images/single_1.jpg"></li>
										<li class="active"><img th:src="@{/images/single_2_thumb.jpg}" alt="" data-image="images/single_2.jpg"></li>
										<li><img th:src="@{/images/single_3_thumb.jpg}" alt="" data-image="images/single_3.jpg"></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-9 image_col order-lg-2 order-1">
								<div class="single_product_image">
									<div class="single_product_image_background" style="background-image: url(images/single_2.jpg)"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="product_details">
						<div class="product_details_title">
							<h2 th:text="${singleProduct.Name}">Pocket cotton sweatshirt</h2>
							<p th:text="${singleProduct.Description}"></p>
						</div>
						<div class="free_delivery d-flex flex-row align-items-center justify-content-center" th:if="${#strings.equalsIgnoreCase('yes',singleProductSizeColor.freeShipping)}">
							<span class="ti-truck"></span> <span>free delivery</span>
						</div>
						<div class="product_price" th:text="${singleProductSizeColor.sellingPrice}"></div>
						<ul class="star_rating">
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
						</ul>
				<form th:action="@{/orderItem}" th:method="POST" th:object="${order}">
						<input type="text" name="productIdName"  th:value="${singleProductSizeColor.productIdName}" />
						<span>Select color and size:</span>
							<div class="product_color" th:each="color : ${colorList}">
							<input name="color" type="radio" th:value="${color.Id}" th:style="${'background-color:'+ color.color +';'}" />
								<ul th:each="size : ${'#strings.toString(color.Id)'}">
									<li th:style="${'background:'+ color.color +';'}" th:text="${size.sizeName}">
										<input name="color" type="radio" th:value="${size.Id}" th:style="${'background-color:'+ color.color +';'}" />
									</li>
								</ul>
							</div>							
							<div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
								<span>Quantity:</span>
								<div class="quantity_selector">
									<span class="minus">
									     <i class="fa fa-minus" aria-hidden="true"></i>
									</span>
									<input id="quantity_value" name="amount" type="text" /></li>							 
									  <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i>
									  </span>
								</div>
								<div>
									 <button class="btn btn-default submit-button red_button add_to_cart_button" type="submit">Order</button>
								</div>
								<div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
							</div>
					   </form>
					</div>
				</div>
			</div>
		</div>
		<!-- Tabs -->
		<!-- <div class="tabs_section_container">

		<div class="container">
			<div class="row">
				<div class="col">
					<div class="tabs_container">
						<ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
							<li class="tab active" data-active-tab="tab_1"><span>Description</span></li>
							<li class="tab" data-active-tab="tab_2"><span>Additional Information</span></li>
							<li class="tab" data-active-tab="tab_3"><span>Reviews (2)</span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">

					Tab Description

					<div id="tab_1" class="tab_container active">
						<div class="row">
							<div class="col-lg-5 desc_col">
								<div class="tab_title">
									<h4>Description</h4>
								</div>
								<div class="tab_text_block">
									<h2>Pocket cotton sweatshirt</h2>
									<p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut...</p>
								</div>
								<div class="tab_image">
									<img th:src="@{/images/desc_1.jpg}" alt="">
								</div>
								<div class="tab_text_block">
									<h2>Pocket cotton sweatshirt</h2>
									<p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut...</p>
								</div>
							</div>
							<div class="col-lg-5 offset-lg-2 desc_col">
								<div class="tab_image">
									<img th:src="@{/images/desc_2.jpg}" alt="">
								</div>
								<div class="tab_text_block">
									<h2>Pocket cotton sweatshirt</h2>
									<p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut...</p>
								</div>
								<div class="tab_image desc_last">
									<img th:src="@{/images/desc_3.jpg}" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
		</div> -->
		<!-- 
					Tab Additional Info

					<div id="tab_2" class="tab_container">
						<div class="row">
							<div class="col additional_info_col">
								<div class="tab_title additional_info_title">
									<h4>Additional Information</h4>
								</div>
								<p>COLOR:<span>Gold, Red</span></p>
								<p>SIZE:<span>L,M,XL</span></p>
							</div>
						</div>
					</div>

					Tab Reviews

					<div id="tab_3" class="tab_container">
						<div class="row">

							User Reviews

							<div class="col-lg-6 reviews_col">
								<div class="tab_title reviews_title">
									<h4>Reviews (2)</h4>
								</div>

								User Review

								<div class="user_review_container d-flex flex-column flex-sm-row">
									<div class="user">
										<div class="user_pic"></div>
										<div class="user_rating">
											<ul class="star_rating">
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
											</ul>
										</div>
									</div>
									<div class="review">
										<div class="review_date">27 Aug 2016</div>
										<div class="user_name">Brandon William</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>

								User Review

								<div class="user_review_container d-flex flex-column flex-sm-row">
									<div class="user">
										<div class="user_pic"></div>
										<div class="user_rating">
											<ul class="star_rating">
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
											</ul>
										</div>
									</div>
									<div class="review">
										<div class="review_date">27 Aug 2016</div>
										<div class="user_name">Brandon William</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
							</div>

							Add Review

							<div class="col-lg-6 add_review_col">

								<div class="add_review">
									<form id="review_form" action="post">
										<div>
											<h1>Add Review</h1>
											<input id="review_name" class="form_input input_name" type="text" name="name" placeholder="Name*" required="required" data-error="Name is required.">
											<input id="review_email" class="form_input input_email" type="email" name="email" placeholder="Email*" required="required" data-error="Valid email is required.">
										</div>
										<div>
											<h1>Your Rating:</h1>
											<ul class="user_star_rating">
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
											</ul>
											<textarea id="review_message" class="input_review" name="message"  placeholder="Your Review" rows="4" required data-error="Please, leave us a review."></textarea>
										</div>
										<div class="text-left text-sm-right">
											<button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">submit</button>
										</div>
									</form>
								</div>

							</div>

						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
 -->
		<!-- Benefit -->
		<!-- <div class="benefit">
		<div class="container">
			<div class="row benefit_row">
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>free shipping</h6>
							<p>Suffered Alteration in Some Form</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>cach on delivery</h6>
							<p>The Internet Tend To Repeat</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>45 days return</h6>
							<p>Making it Look Like Readable</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>opening all week</h6>
							<p>8AM - 09PM</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	Newsletter

	<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
						<h4>Newsletter</h4>
						<p>Subscribe to our newsletter and get 20% off your first purchase</p>
					</div>
				</div>
				<div class="col-lg-6">
					<form action="post">
						<div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
							<input id="newsletter_email" type="email" placeholder="Your email" required="required" data-error="Valid email is required.">
							<button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
 -->
		<!-- Footer -->
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
							<ul class="footer_nav">
								<li><a th:href="@{#}">Blog</a></li>
								<li><a th:href="@{#}">FAQs</a></li>
								<li><a th:href="@{contact.html}">Contact us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
							<ul>
								<li><a th:href="@{#}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a th:href="@{#}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a th:href="@{#}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a th:href="@{#}"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
								<li><a th:href="@{#}"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="footer_nav_container">
							<div class="cr">©2018 All Rights Reserverd.</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/styles/bootstrap4/popper.js}"></script>
	<script th:src="@{/styles/bootstrap4/bootstrap.min.js}"></script>
	<script th:src="@{/plugins/Isotope/isotope.pkgd.min.js}"></script>
	<script th:src="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
	<script th:src="@{/plugins/easing/easing.js}"></script>
	<script th:src="@{/plugins/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
	<script th:src="@{/js/single_custom.js}"></script>
</body>
</html>
