<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Site made with Mobirise Website Builder v4.8.10, https://mobirise.com -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="generator" content="Mobirise v4.8.10, mobirise.com">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<link rel="shortcut icon" href="assets/images/logo2.png" type="image/x-icon">
<meta name="description" content="Web Creator Description">
<title>LogIn</title>
<link rel="stylesheet" type="text/css" th:href="@{/assets/web/assets/mobirise-icons/mobirise-icons.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/tether/tether.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap/css/bootstrap-grid.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap/css/bootstrap-reboot.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/dropdown/css/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/socicon/css/styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/theme/css/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/mobirise/css/mbr-additional.css}">
</head>
<body>
	<link rel="stylesheet" th:href="@{/style.less}" class="cid-qTkzRZLJNu" id="menu1-1c" data-rv-view="419">
	<section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-1c">
		<nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<div class="hamburger">
					<span></span> <span></span> <span></span> <span></span>
				</div>
			</button>
			<div class="menu-logo">
				<div class="navbar-brand">
					 <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" th:href="@{/home}"> MOBIRISE </a></span>
				</div>
			</div>
			
		</nav>
	</section>
	<section class="engine"> 
	</section>
	<section class="mbr-section form1 cid-rexvlmxEXA" id="form1-1e">
		<div class="container">
			<div class="row justify-content-center">
				<div class="title col-12 col-lg-8">
					<h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">CONTACT FORM</h2>
					<h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">Easily add subscribe and contact forms without any server-side integration.</h3>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="media-container-column col-lg-8" data-form-type="formoid">
					<div data-form-alert="" hidden="">Thanks for filling out the form!</div>
					<form class="mbr-form" th:action="@{/login}" th:method="POST" data-form-title="Mobirise Form">
						<input type="hidden" name="email" data-form-email="true" value="sD13o/x+6nJH7gNDZD9wts5c9xMgbrGNpXv/iN89zq22rixGui3rYpXJutwao3u4zwD4GHuooCfRN1QDRARWAvIjG+M3N7Rr+Cb7b0bFgFI9iYJPoAe7trI8/4UMTyZi">
						<div class="row row-sm-offset">
							<div class="col-md-4 multi-horizontal" data-for="email">
								<div class="form-group">
									<label class="form-control-label mbr-fonts-style display-7" for="email-form1-1e">Email</label>
									 <input type="text" class="form-control" id="username" name="username" data-form-field="Email" required=""
										placeholder="Email" 
									>
								</div>
							</div>
							<div class="col-md-4 multi-horizontal" data-for="password">
								<div class="form-group">
									<label class="form-control-label mbr-fonts-style display-7" for="name-form1-1e">Password</label>
									 <input type="password" class="form-control" name="password" data-form-field="passwordd"
										required="" placeholder="Password" id="password"
									>
								</div>
							</div>
						</div>
						<span class="input-group-btn">
						<button type="submit" class="btn btn-primary btn-form display-4">Log In</button></span>
					</form>
				</div>
			</div>
		</div>
	</section>
	<section once="" class="cid-rcTVgjxylF" id="footer7-1d">
		<div class="container">
			<div class="media-container-row align-center mbr-white">
				<div class="row row-links">
					<ul class="foot-menu">
						<li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white mbr-bold" href="#" target="_blank">About us</a></li>
						<li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white mbr-bold" href="#" target="_blank">Services</a></li>
						<li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white mbr-bold" href="#" target="_blank">Get In Touch</a></li>
						<li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white mbr-bold" href="#" target="_blank">Careers</a></li>
						<li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white mbr-bold" href="#" target="_blank">Work</a></li>
					</ul>
				</div>
				<div class="row social-row">
					<div class="social-list align-right pb-2">
						<div class="soc-item">
							<a href="https://twitter.com/mobirise" target="_blank"> <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
							</a>
						</div>
						<div class="soc-item">
							<a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank"> <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
							</a>
						</div>
						<div class="soc-item">
							<a href="https://www.youtube.com/c/mobirise" target="_blank"> <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
							</a>
						</div>
						<div class="soc-item">
							<a href="https://instagram.com/mobirise" target="_blank"> <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
							</a>
						</div>
						<div class="soc-item">
							<a href="https://plus.google.com/u/0/+Mobirise" target="_blank"> <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
							</a>
						</div>
						<div class="soc-item">
							<a href="https://www.behance.net/Mobirise" target="_blank"> <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="row row-copirayt">
					<p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">© Copyright 2017 Mobirise - All Rights Reserved</p>
				</div>
			</div>
		</div>
	</section>
	<script src="assets/web/assets/jquery/jquery.min.js"></script>
	<script src="assets/popper/popper.min.js"></script>
	<script src="assets/tether/tether.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/smoothscroll/smooth-scroll.js"></script>
	<script src="assets/dropdown/js/script.min.js"></script>
	<script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
	<script src="assets/theme/js/script.js"></script>
	<script src="assets/formoid/formoid.min.js"></script>
</body>
</html>